In [4]:
#dataset dari http://buku.dioskurn.com/buku1/ch4
#mempersiapkan data
import pandas as pd
train_df = pd.read_csv('bensin2.csv')
train_df

    Liter  Penumpang  Bagasi  Kecepatan   RPM  Suhu  Kilometer
0      20          1       0         42  3000    29        142
1      25          2      15         50  4000    36        177
2      20          4      10         50  3000    24        144
3      30          5      25         50  3000    18        203
4      40          1      40         50  3200    30        273
..    ...        ...     ...        ...   ...   ...        ...
60     31          3       0         50  3000    30        203
61     37          1       0         50  3000    22        241
62     23          2      10         50  3000    30        142
63     36          2       0         50  3000    20        241
64     23          1      15         50  3000    30        142

[65 rows x 7 columns]

In [3]:
#dataset dari http://buku.dioskurn.com/buku1/ch4
#mempersiapkan data
import pandas as pd
test_df = pd.read_csv('bensin2.csv')
test_df

    Liter  Penumpang  Bagasi  Kecepatan   RPM  Suhu  Kilometer
0      20          1       0         42  3000    29        142
1      25          2      15         50  4000    36        177
2      20          4      10         50  3000    24        144
3      30          5      25         50  3000    18        203
4      40          1      40         50  3200    30        273
..    ...        ...     ...        ...   ...   ...        ...
60     31          3       0         50  3000    30        203
61     37          1       0         50  3000    22        241
62     23          2      10         50  3000    30        142
63     36          2       0         50  3000    20        241
64     23          1      15         50  3000    30        142

[65 rows x 7 columns]

In [56]:
#mengelempokan (Preprocessing Dataset)
import numpy as np

X_train = np.array(train_df[['Liter','Penumpang','Kecepatan','Suhu']])
y_train = np.array(train_df[['Kilometer']]).reshape(-1,1)

print(f'X_train :  \n{X_train}')                  
print(f'y_train : \n{y_train}')


X_test = np.array(test_df[['Liter','Penumpang','Kecepatan','Suhu']])
y_test = np.array(test_df[['Kilometer']])

print(f'X_test :  \n{X_test}')                  
print(f'y_test : \n{y_test}')

X_train :
[[20  1 42 29]
 [25  2 50 36]
 [20  4 50 24]
 [30  5 50 18]
 [40  1 50 30]
 [35  1 50 31]
 [30  2 50 30]
 [30  5 50 30]
 [25  1 50 29]
 [25  4 50 30]
 [25  1 50 30]
 [28  1 50 30]
 [15  3 50 19]
 [20  1 50 30]
 [29  1 50 30]
 [28  4 50 25]
 [30  4 50 30]
 [35  1 50 25]
 [25  3 50 30]
 [25  3 50 30]
 [25  1 50 33]
 [25  1 50 30]
 [25  5 50 30]
 [25  4 50 30]
 [35  1 50 30]
 [14  1 50 24]
 [10  4 50 30]
 [25  4 50 30]
 [25  4 50 27]
 [25  1 50 24]
 [30  1 50 30]
 [30  1 50 26]
 [35  2 50 30]
 [40  1 50 30]
 [20  1 50 26]
 [15  3 50 33]
 [26  6 50 30]
 [20  1 50 27]
 [19  1 50 30]
 [30  5 50 30]
 [35  5 50 30]
 [30  5 50 28]
 [30  1 50 30]
 [25  2 50 29]
 [18  1 50 30]
 [15  2 50 21]
 [17  2 50 30]
 [ 6  2 50 30]
 [25  2 50 31]
 [22  4 50 30]
 [23  3 50 30]
 [21  1 50 32]
 [24  6 50 30]
 [45  1 50 33]
 [33  2 50 30]
 [32  4 50 30]
 [31  1 50 30]
 [41  1 50 32]
 [27  4 50 30]
 [30  1 50 24]
 [31  3 50 30]
 [37  1 50 22]
 [23  2 50 30]
 [36  2 50 20]
 [23  1 50 30]]
y_train :
[[142]
 [177]
 [144]
 [203]
 [273]
 [239]
 [201]
 [195]
 [175]
 [169]
 [179]
 [ 18]
 [ 98]
 [139]
 [212]
 [ 21]
 [205]
 [ 24]
 [ 18]
 [ 17]
 [174]
 [169]
 [166]
 [172]
 [252]
 [  1]
 [ 65]
 [175]
 [173]
 [167]
 [204]
 [211]
 [242]
 [278]
 [144]
 [102]
 [177]
 [141]
 [136]
 [211]
 [241]
 [201]
 [212]
 [177]
 [143]
 [102]
 [ 72]
 [ 32]
 [173]
 [148]
 [151]
 [141]
 [169]
 [262]
 [233]
 [239]
 [221]
 [255]
 [181]
 [214]
 [203]
 [241]
 [142]
 [241]
 [142]]
X_test :
[[20  1 42 29]
 [25  2 50 36]
 [20  4 50 24]
 [30  5 50 18]
 [40  1 50 30]
 [35  1 50 31]
 [30  2 50 30]
 [30  5 50 30]
 [25  1 50 29]
 [25  4 50 30]
 [25  1 50 30]
 [28  1 50 30]
 [15  3 50 19]
 [20  1 50 30]
 [29  1 50 30]
 [28  4 50 25]
 [30  4 50 30]
 [35  1 50 25]
 [25  3 50 30]
 [25  3 50 30]
 [25  1 50 33]
 [25  1 50 30]
 [25  5 50 30]
 [25  4 50 30]
 [35  1 50 30]
 [14  1 50 24]
 [10  4 50 30]
 [25  4 50 30]
 [25  4 50 27]
 [25  1 50 24]
 [30  1 50 30]
 [30  1 50 26]
 [35  2 50 30]
 [40  1 50 30]
 [20  1 50 26]
 [15  3 50 33]
 [26  6 50 30]
 [20  1 50 27]
 [19  1 50 30]
 [30  5 50 30]
 [35  5 50 30]
 [30  5 50 28]
 [30  1 50 30]
 [25  2 50 29]
 [18  1 50 30]
 [15  2 50 21]
 [17  2 50 30]
 [ 6  2 50 30]
 [25  2 50 31]
 [22  4 50 30]
 [23  3 50 30]
 [21  1 50 32]
 [24  6 50 30]
 [45  1 50 33]
 [33  2 50 30]
 [32  4 50 30]
 [31  1 50 30]
 [41  1 50 32]
 [27  4 50 30]
 [30  1 50 24]
 [31  3 50 30]
 [37  1 50 22]
 [23  2 50 30]
 [36  2 50 20]
 [23  1 50 30]]
y_test :
[[142]
 [177]
 [144]
 [203]
 [273]
 [239]
 [201]
 [195]
 [175]
 [169]
 [179]
 [ 18]
 [ 98]
 [139]
 [212]
 [ 21]
 [205]
 [ 24]
 [ 18]
 [ 17]
 [174]
 [169]
 [166]
 [172]
 [252]
 [  1]
 [ 65]
 [175]
 [173]
 [167]
 [204]
 [211]
 [242]
 [278]
 [144]
 [102]
 [177]
 [141]
 [136]
 [211]
 [241]
 [201]
 [212]
 [177]
 [143]
 [102]
 [ 72]
 [ 32]
 [173]
 [148]
 [151]
 [141]
 [169]
 [262]
 [233]
 [239]
 [221]
 [255]
 [181]
 [214]
 [203]
 [241]
 [142]
 [241]
 [142]]

In [57]:
#Melatih model
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score

model = LinearRegression()
model.fit(X_train, y_train)

y_pred = model.predict(X_test)
                       
print(f'scoring model: {r2_score(y_test,y_pred)}')

scoring model: 0.4999896802527134

In [58]:
#mengeluarkan nilai slope hasil perhitungan
model.coef_

array([[ 6.47806873,  1.53876044, -2.55766413,  1.66324704]])

In [30]:
#mengeluarkan nilai intercept hasil perhitungan
model.intercept_

array([70.08759436])

In [61]:
#Prediksi dengan input Liter=30, Penumpang=2, Kecepatan=50, Suhu=10
jarak = model.predict([[30, 2, 50, 10]])
print(f'Jarak = {jarak} Kilometer')

Jarak = [[156.25644082]] Kilometer